body {
    overflow: auto;
    cursor: default;
}

* {
    font-family: 'Manrope';
}

html {
    font-size: 62.5%;
}

@media(max-width:998px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:768px) {
    html {
        font-size: 45%;
    }
}

.row {
    margin: 0px !important;
    padding: 0px !important;
}

.main_container {
    max-width: 1280px !important;
}

.mini_container {
    max-width: 930px !important;
}

.text_darkGrey {
    color: #232536 !important;
}

.cardShadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}